.form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
 
  .formBtn{
  font: inherit;
  cursor: pointer;
  color: #fff  !important;
  border: 1px solid #e50914 !important;
  background-color: #e50914;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin: 15px 15px;
  float: right;
  }

  select{
    margin: 15px 0px;
    padding: 5px 10px;
  }